{
 "extends": "airbnb",
 "rules": {
   "no-underscore-dangle": 0,
   "react/jsx-filename-extension": 0,
   "react/jsx-indent": 0,
   "arrow-body-style": 0,
   "react/destructuring-assignment": 0,
   "react/prop-types": 0,
   },
  "env": {
    "browser": true
  }
}
